@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 vh;
    background-color: skyblue;
}
h1 {
    font-family: Quicksand;
    font-weight: 400;
}
h4 {
    font-style: italic;
    color: darkgray;
}
p {
    color: darkgray;
    font-size: 15px;
}
.container {
    background-color: white;
    text-align: center;
    padding: 15px 25px;
}
form {
    margin: 25px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid darkgray;
  }
  input[type=submit] {
    background-color: skyblue;
    border: none;
    color: white;
    width: 100%;
    height: 35px;;
    margin: 4px 2px;
  }
  input::placeholder {
    font-family: Quicksand;
    
  }
